<div class="container">
    <div class="row">
        <div class="col-lg-8 col-12">
            <div class="intro-slider-container mt-2">
                <div class="intro-slider owl-carousel owl-theme owl-nav-inside owl-light" data-toggle="owl"
                     data-owl-options='{
                                    "dots": true,
                                    "nav": true,
                                    "responsive": {
                                        "1200": {
                                            "nav": true,
                                            "dots": true
                                        }
                                    }
                                }'>

                    {% for slider in sliders %}
                    <div class="intro-slide banner-lg" style="background-image: url({{ asset('uploads/media/') ~ slider.files }});">
{#                        <div class="intro">#}
{#                            <div class="title">#}
{#                                <a>deal of the day</a>#}
{#                            </div>#}
{#                            <div class="content">#}
{#                                <h3><span>up to</span> 20% <span>off</span></h3><h4>heavy duty deals</h4>#}
{#                            </div>#}
{#                            <div class="action">#}
{#                                <a href="category.html">discover now</a>#}
{#                            </div>#}
{#                        </div>#}
                    </div><!-- End .intro-slide -->
                    {% endfor %}


                </div><!-- End .intro-slider owl-carousel owl-simple -->

                <span class="slider-loader"></span><!-- End .slider-loader -->
            </div><!-- End .intro-slider-container -->
        </div>
        <div class="col-lg-4 banner">
            <div class="col-12" style="background-image: url(http://via.placeholder.com/376x133?text=Cotupap+Slider)">
{#                <div class="intro">#}
{#                    <div class="title">#}
{#                        <h3>New arrivals</h3>#}
{#                    </div>#}
{#                    <div class="content">#}
{#                        <h3>up to </h3> <h3 class="highlight">&nbsp;40% off</h3>#}
{#                    </div>#}
{#                    <div class="action">#}
{#                        <a href="category.html">shop now</a>#}
{#                    </div>#}
{#                </div>#}
            </div>
            <div class="col-12" style="background-image: url(http://via.placeholder.com/376x133?text=Cotupap+Slider)">
{#                <div class="intro">#}
{#                    <div class="title">#}
{#                        <h2>outdoor</h2>#}
{#                    </div>#}
{#                    <div class="content">#}
{#                        <h4>power equipment</h4>#}
{#                    </div>#}
{#                    <div class="action">#}
{#                        <a href="category.html">shop now</a>#}
{#                    </div>#}
{#                </div>#}
            </div>
            <div class="col-12" style="background-image: url(http://via.placeholder.com/376x133?text=Cotupap+Slider)">
{#                <div class="intro">#}
{#                    <div  class="title">#}
{#                        <h3 class="highlight">save 20%</h3><h3>&nbsp;or more</h3>#}
{#                    </div>#}
{#                    <div class="content">#}
{#                        <h3>deals & savings</h3>#}
{#                    </div>#}
{#                    <div class="action">#}
{#                        <a href="category.html">shop now</a>#}
{#                    </div>#}
{#                </div>#}
            </div>
        </div>
    </div>
</div>