<div class="container">
    <div class="row" style="margin-top: 2%;">
        <div class="w-79 mr-4">
            <div class="intro-slider-container">
                <div class="intro-slider owl-carousel owl-theme owl-nav-inside owl-light" data-toggle="owl"
                     data-owl-options='{
                                    "dots": true,
                                    "nav": true,
                                    "responsive": {
                                        "1200": {
                                            "nav": true,
                                            "dots": true
                                        }
                                    }
                                }'>

                    {% for slider in sliders %}
                    <div class="intro-slide banner-lg" style="background-image: url({{ asset('uploads/media/') ~ slider.files }});">
{#                        <div class="intro">#}
{#                            <div class="title">#}
{#                                <a>deal of the day</a>#}
{#                            </div>#}
{#                            <div class="content">#}
{#                                <h3><span>up to</span> 20% <span>off</span></h3><h4>heavy duty deals</h4>#}
{#                            </div>#}
{#                            <div class="action">#}
{#                                <a href="category.html">discover now</a>#}
{#                            </div>#}
{#                        </div>#}
                    </div><!-- End .intro-slide -->
                    {% endfor %}


                </div><!-- End .intro-slider owl-carousel owl-simple -->

                <span class="slider-loader"></span><!-- End .slider-loader -->
            </div><!-- End .intro-slider-container -->
        </div>
        <div class="w-18 banner">
            {{ render(controller('FrontBundle:Slider:renderAds')) }}
        </div>
    </div>
</div>