<nav class="navbar horizontal-layout col-lg-12 col-12 p-0">
    <div class="nav-top flex-grow-1">
        <div class="container d-flex flex-row h-100 align-items-center">
            <div class="text-center navbar-brand-wrapper d-flex align-items-center">
                <a class="navbar-brand brand-logo" href="javascript:void(0)"><h2 style="color: white;"><b>Cotupap</b></h2></a>
                <a class="navbar-brand brand-logo-mini" href="javascript:void(0)"><h2 style="color: white;"><b>Cotupap</b></h2></a>
            </div>
            <div class="navbar-menu-wrapper d-flex align-items-center justify-content-between flex-grow-1">
                <ul class="navbar-nav navbar-nav-right mr-0 ml-auto">
                    <li class="nav-item">
                        <a href="{{ path('validateur_list_clients') }}" class="nav-link"><i class="link-icon icon-home"></i><span class="menu-title"> Les Clients</span></a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('validateur_list_commands') }}" class="nav-link"><i class="link-icon icon-book-open"></i><span class="menu-title"> Les Commandes</span></a>
                    </li>
                    {#PANIER ICI#}
{#                    <div id="panier-reload">#}
{#                    {{ render(path('panier_top')) }}#}
{#                    </div>#}
                    <li class="nav-item nav-profile dropdown">
                        <a class="nav-link dropdown-toggle" href="javascript:void(0)" data-toggle="dropdown" id="profileDropdown">
                            <i class="icon-user icon-lg"></i>
                            <span class="nav-profile-name">Validateur Cotupap</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="profileDropdown">
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{{ path('logout_page') }}">
                                <i class="icon-logout text-primary mr-2"></i>
                                Sortir
                            </a>
                        </div>
                    </li>
                </ul>
                <button class="navbar-toggler align-self-center" type="button" data-toggle="minimize">
                    <span class="icon-menu text-dark"></span>
                </button>
            </div>
        </div>
    </div>
{#    <div class="nav-bottom">#}
{#        <div class="container">#}
{#            <ul class="nav page-navigation">#}
{#                <li class="nav-item">#}
{#                    <a href="javascript:void(0)" class="nav-link"><i class="link-icon icon-home"></i><span class="menu-title">Accueille</span></a>#}
{#                </li>#}
{#                <li class="nav-item">#}
{#                    <a href="javascript:void(0)" class="nav-link"><i class="link-icon icon-book-open"></i><span class="menu-title">Catalogue</span></a>#}
{#                </li>#}
{#                <li class="nav-item">#}
{#                    <a href="javascript:void(0)" class="nav-link"><i class="link-icon icon-docs"></i><span class="menu-title">Contact</span></a>#}
{#                </li>#}
{#            </ul>#}
{#        </div>#}
{#    </div>#}
</nav>