<div class="col-lg-3 banner">
    {% for ad in ads %}
        {% if ad.position == 'Right' %}
            {% if ad.size == 0 %}
                <div class="col-12" style="background-image: url(http://via.placeholder.com/376x133?text=Cotupap+Banner)"></div>
            {% else %}
                <div class="col-12" style="background-image: url({{ asset('uploads/media/banners/') ~ ad.files }})"></div>
            {% endif %}
        {% endif %}
    {% endfor %}
</div>
</div>
<div class="row" style="margin-top: 2%; width: 85%; margin: auto;">
<div class="col-lg-12" style="display: flex;height: 20rem; padding: 0; margin: 0;">
{#    <div class="row">#}
    {% for ad in ads %}
        {% if ad.position == 'Bottom' %}
            {% if ad.size == 0 %}
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    <img src="http://via.placeholder.com/376x133?text=Cotupap+Banner" alt="" style="height: 100%; width: 100%;">
                </div>
            {% else %}
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    <img src="{{ asset('uploads/media/banners/') ~ ad.files }}" alt="" style="height: 100%; width: 100%;">
                </div>
            {% endif %}
        {% endif %}
    {% endfor %}
{#    </div>#}
</div>