{% extends '@Front/base.html.twig' %}
{% block mainContent %}
    <main class="main">
        <div class="page-header text-center" style="background-image: url({{ asset('assets/FrontBundle/images/page-header-bg.jpg') }})">
            <div class="container">
                <h1 class="page-title">Contactez nous</h1>
            </div><!-- End .container -->
        </div><!-- End .page-header -->
        <nav aria-label="breadcrumb" class="breadcrumb-nav border-0 mb-0">
            <div class="container">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{{ path('dash_homepage') }}">Accueil</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Contactez nous</li>
                </ol>
            </div><!-- End .container -->
        </nav><!-- End .breadcrumb-nav -->

        <div class="page-content">
            <div id="map" class="mb-5"></div><!-- End #map -->
            <div class="container">
                <div class="row" style="border: 1px solid; padding: 5px;">
                    <div class="col-md-4" style="border-right: 1px solid;">
                        <div class="contact-box text-center">
                            <h3>Comptoir Tunisien des Papiers - Siège</h3>
                            <div class="row" style="text-align: left;">
                                <div class="col-sm-4">
                                    <h3>Adresse :</h3>
                                </div>
                                <div class="col-sm-8">
                                    <address>Z.I.Charguia II, angle rue du Métal et
                                        des Entrepreneurs 2035 Tunis Carthage
                                        Ad.postale : BP 241-1080 Tunis Cedex</address>
                                </div>
                            </div>
                            <div class="row" style="text-align: left;">
                                <div class="col-sm-4">
                                    <h3>e-mail :</h3>
                                </div>
                                <div class="col-sm-8">
                                    <div><a href="mailto:comptoir.papiers@cotupap.com.tn">comptoir.papiers@cotupap.com.tn</a></div>
                                </div>
                            </div>
                            <div class="row" style="text-align: left;">
                                <div class="col-sm-4">
                                    <h3>Téléphone :</h3>
                                </div>
                                <div class="col-sm-8">
                                    <div><a href="tel:+216 70 83 80 24">+216 70 83 80 24</a></div>
                                </div>
                            </div>
                            <div class="row" style="text-align: left;">
                                <div class="col-sm-4">
                                    <h3>Fax :</h3>
                                </div>
                                <div class="col-sm-8">
                                    <div><a href="tel:+216 70 83 85 20">+216 70 83 85 20</a></div>
                                </div>
                            </div>
                            <h3 style="text-align: left; text-decoration: underline;">Division Équipement :</h3>
                            <div class="row" style="text-align: left;">
                                <div class="col-sm-4">
                                    <h3>Commercial Équipement :</h3>
                                </div>
                                <div class="col-sm-8">
                                    <div><a href="mailto:commercial@cotupap.com.tn">commercial@cotupap.com.tn</a></div>
                                </div>
                            </div>
                            <div class="row" style="text-align: left;">
                                <div class="col-sm-4">
                                    <h3>Commercial Digital :</h3>
                                </div>
                                <div class="col-sm-8">
                                    <div><a href="mailto:commercial1@cotupap.com.tn">commercial1@cotupap.com.tn</a></div>
                                </div>
                            </div>
                            <div class="row" style="text-align: left;">
                                <div class="col-sm-4">
                                    <h3>Service Marketing :</h3>
                                </div>
                                <div class="col-sm-8">
                                    <div><a href="mailto:ass.marketing@cotupap.com.tn">ass.marketing@cotupap.com.tn</a></div>
                                </div>
                            </div>
                            <h3 style="text-align: left; text-decoration: underline;">Division Papiers & Consommables :</h3>
                            <div class="row" style="text-align: left;">
                                <div class="col-sm-4">
                                    <h3>e-mail :</h3>
                                </div>
                                <div class="col-sm-8">
                                    <div><a href="mailto:ass.commercial1@cotupap.com.tn">ass.commercial1@cotupap.com.tn</a></div>
                                    <div><a href="mailto:ass.commercial2@cotupap.com.tn">ass.commercial2@cotupap.com.tn</a></div>
                                </div>
                            </div>
                            <div class="row" style="text-align: left;">
                                <div class="col-sm-4">
                                    <h3>Téléphone :</h3>
                                </div>
                                <div class="col-sm-8">
                                    <div><a href="tel:+216 70 83 80 24">+216 70 83 80 24</a></div>
                                </div>
                            </div>
                            <div class="row" style="text-align: left;">
                                <div class="col-sm-4">
                                    <h3>Fax :</h3>
                                </div>
                                <div class="col-sm-8">
                                    <div><a href="tel:+216 70 83 66 99">+216 70 83 66 99</a></div>
                                </div>
                            </div>
                        </div><!-- End .contact-box -->
                    </div><!-- End .col-md-4 -->

                    <div class="col-md-4" style="border-right: 1px solid;">
                        <div class="contact-box text-center">
                        <h3>Comptoir Tunisien des Papiers - Division Papeterie & Bureautique</h3>
                        <div class="row" style="text-align: left;">
                            <div class="col-sm-4">
                                <h3>Adresse :</h3>
                            </div>
                            <div class="col-sm-8">
                                <address>8, Rue Hamouda Pacha - 1079 Tunis
                                    Ad.postale : BP 241-1080 Tunis Cedex</address>
                            </div>
                        </div>
                        <div class="row" style="text-align: left;">
                            <div class="col-sm-4">
                                <h3>e-mail :</h3>
                            </div>
                            <div class="col-sm-8">
                                <div><a href="mailto:ass.commercial@cotupap.com.tn">ass.commercial@cotupap.com.tn</a></div>
                            </div>
                        </div>
                        <div class="row" style="text-align: left;">
                            <div class="col-sm-4">
                                <h3>Téléphone :</h3>
                            </div>
                            <div class="col-sm-8">
                                <div><a href="tel:+ 216 71 25 71 15">+ 216 71 25 71 15</a></div>
                            </div>
                        </div>
                        <div class="row" style="text-align: left;">
                            <div class="col-sm-4">
                                <h3>Fax :</h3>
                            </div>
                            <div class="col-sm-8">
                                <div><a href="tel:+216 71 25 71 37">+216 71 25 71 37</a></div>
                            </div>
                        </div>
                        <h3 style="border-top: 1px solid; padding-top: 7px;">Comptoir Tunisien des Papiers - Agence Sfax</h3>
                        <div class="row" style="text-align: left;">
                            <div class="col-sm-4">
                                <h3>Adresse :</h3>
                            </div>
                            <div class="col-sm-8">
                                <address>Rte de Gremda km 1 - 3003 Sfax - Tunisie</address>
                            </div>
                        </div>
                        <div class="row" style="text-align: left;">
                            <div class="col-sm-4">
                                <h3>e-mail :</h3>
                            </div>
                            <div class="col-sm-8">
                                <div><a href="mailto:hassib.hammami@cotupap.com.tn">hassib.hammami@cotupap.com.tn</a></div>
                            </div>
                        </div>
                        <div class="row" style="text-align: left;">
                            <div class="col-sm-4">
                                <h3>Téléphone :</h3>
                            </div>
                            <div class="col-sm-8">
                                <div><a href="tel:+216 74 23 59 91">+216 74 23 59 91</a></div>
                            </div>
                        </div>
                        <div class="row" style="text-align: left;">
                            <div class="col-sm-4">
                                <h3>Fax :</h3>
                            </div>
                            <div class="col-sm-8">
                                <div><a href="tel:+216 74 23 59 89">+216 74 23 59 89</a></div>
                            </div>
                        </div>
                    </div><!-- End .col-md-4 -->
                    </div>

                    <div class="col-md-4">
                        <div class="contact-box text-center">
                            <div class="touch-container row justify-content-center">
                                <div class="col-md-12 col-lg-12">
                                    <div class="text-center">
                                        <h2 class="title mb-1">Entrer en contact</h2><!-- End .title mb-2 -->
                                        <p class="lead text-primary">
                                            Nous collaborons avec des marques et des personnes ambitieuses, nous aimerions construire quelque chose de grand ensemble.
                                        </p><!-- End .lead text-primary -->
                                    </div><!-- End .text-center -->

                                    <form action="#" class="contact-form mb-2">

                                        <label for="cname" class="sr-only">Nom</label>
                                        <input type="text" class="form-control" id="cname" placeholder="Nom *" required>

                                        <label for="cemail" class="sr-only">Email</label>
                                        <input type="email" class="form-control" id="cemail" placeholder="Email *" required>

                                        <label for="cphone" class="sr-only">Telephone</label>
                                        <input type="tel" class="form-control" id="cphone" placeholder="Telephone">

                                        <label for="csubject" class="sr-only">Matière</label>
                                        <input type="text" class="form-control" id="csubject" placeholder="Matière">

                                        <label for="cmessage" class="sr-only">Message</label>
                                        <textarea class="form-control" cols="30" rows="4" id="cmessage" required placeholder="Message *"></textarea>

                                        <div class="text-center">
                                            <button type="submit" class="btn btn-outline-primary-2 btn-minwidth-sm">
                                                <span>SOUMETTRE</span>
                                                <i class="icon-long-arrow-right"></i>
                                            </button>
                                        </div><!-- End .text-center -->
                                    </form><!-- End .contact-form -->
                                </div><!-- End .col-md-9 col-lg-7 -->
                            </div><!-- End .row -->
                        </div><!-- End .contact-box -->
                    </div><!-- End .col-md-4 -->
                </div><!-- End .row -->
            </div><!-- End .container -->
        </div><!-- End .page-content -->
    </main><!-- End .main -->
{% endblock %}
{% block javascript %}
{{ parent() }}
{#<!-- Google Map -->#}
    <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDc3LRykbLB-y8MuomRUIY0qH5S6xgBLX4"></script>
    <script src="{{ asset('assets/FrontBundle/js/cotupap/contact.js') }}"></script>
{% endblock %}