{% extends '@Front/base.html.twig' %}
{% block mainContent %}
<main class="main">
    <div class="intro-section bg-lighter pt-3">
        <div class="container">
            <div class="banner-group">
                <div class="row">
                    <div class="col-lg-5">
                        <div class="banner banner-big banner-overlay">
                            <a href="#">
                                <img src="https://via.placeholder.com/475x560?text=Cotupap" alt="Banner">
                            </a>

                            <div class="banner-content banner-content-bottom">
{#                                <h4 class="banner-subtitle text-white"><a href="#">Trending now</a></h4><!-- End .banner-subtitle -->#}
                                <h3 class="banner-title text-white"><a href="#">Catégorie <br>Catégorie</a></h3><!-- End .banner-title -->
                                <a href="#" class="banner-link">Découvrez maintenant <i class="icon-long-arrow-right"></i></a>
                            </div><!-- End .banner-content -->
                        </div><!-- End .banner -->
                    </div><!-- End .col-lg-5 -->

                    <div class="col-lg-7">
                        <div class="banner banner-overlay">
                            <a href="#">
                                <img src="https://via.placeholder.com/673x270?text=Cotupap" alt="Banner">
                            </a>
                            <div class="banner-content banner-content-right">
{#                                <h4 class="banner-subtitle text-white"><a href="#">clearance</a></h4><!-- End .banner-subtitle -->#}
                                <h3 class="banner-title text-white"><a href="#">Catégorie <br>Catégorie</a></h3><!-- End .banner-title -->
                                <a href="#" class="banner-link">Découvrez maintenant <i class="icon-long-arrow-right"></i></a>
                            </div><!-- End .banner-content -->
                        </div><!-- End .banner -->

                        <div class="row">
                            <div class="col-sm-6">
                                <div class="banner banner-overlay">
                                    <a href="#">
                                        <img src="https://via.placeholder.com/326x270?text=Cotupap" alt="Banner">
                                    </a>

                                    <div class="banner-content banner-content-top ">
{#                                        <h4 class="banner-subtitle text-white"><a href="#">you might love</a></h4><!-- End .banner-subtitle -->#}
                                        <h3 class="banner-title text-white"><a href="#">Catégorie <br>Catégorie</a></h3><!-- End .banner-title -->
                                        <a href="#" class="banner-link">Découvrez maintenant <i class="icon-long-arrow-right"></i></a>
                                    </div><!-- End .banner-content -->
                                </div><!-- End .banner -->
                            </div><!-- End .col-sm-6 -->

                            <div class="col-sm-6">
                                <div class="banner banner-overlay">
                                    <a href="#">
                                        <img src="https://via.placeholder.com/326x270?text=Cotupap" alt="Banner">
                                    </a>

                                    <div class="banner-content  banner-content-top banner-content-reverse">
{#                                        <h4 class="banner-subtitle text-white"><a href="#">The new pretty</a></h4><!-- End .banner-subtitle -->#}
                                        <h3 class="banner-title text-white"><a href="#">Catégorie<br>Catégorie</a></h3><!-- End .banner-title -->
                                        <a href="#" class="banner-link">Découvrez maintenant <i class="icon-long-arrow-right"></i></a>
                                    </div><!-- End .banner-content -->
                                </div><!-- End .banner -->
                            </div><!-- End .col-sm-6 -->
                        </div><!-- End .row -->
                    </div><!-- End .col-lg-7 -->
                </div><!-- End .row -->
            </div><!-- End .banner-group -->
        </div><!-- End .container -->
    </div><!-- End .bg-lighter -->
</main><!-- End .main -->
{% endblock %}